.cuadrado-tareas{
width: 10%;
height: auto; /* Se ajusta al contenido */
background-color: green;
}
.cuadrado{
    width: 100%;
    height: 90%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}