body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .mitadizquierda {
    width: 52vw;
    height: 100vh; 
    position: relative;
  }
  
  .mitadizquierda img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .mitadderecha {
    width: 48vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor {
    display: flex;   
    height: 100vh;   
  }

  .textogrande{
    font-size: 80px;
    position: relative;
    top: 1rem;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700; 
    
  }

.textochico{
  font-family: "Inter", sans-serif;
  font-weight: 400; 
  font-size: 30px;
  margin: 0;

}



  .overlay {
    position: absolute;
    top: 15%;                
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }

  .texto{
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin: 0;
  }

  .imputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    position: absolute;
    margin-top: 90px;
  }

  .contraseña{
    border: black 1px solid;
    background-color: #F3F3F3;
    color: #717171;
    height: 28px;
    width: 460px;
  }

  .registrarse{
    width: 120px;
    height: 60px;
    background-color: #1BA5B0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .boton1{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .logo {
    font-weight: bold;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin: 0;
    }
    .logo .color {
    color: #1BA5B0;
    }
  
    .subtitulo{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  }

  .header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .iniciarsecionboton{
    width: 120px;
    height: 60px;
    background-color: #1BA5B0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .YatenésunaCuenta  {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    margin: 0;
    }
    .iniciarsecion{
     display: flex;
      align-items: center;
     width: 100%;
     flex-direction: column;
     gap: 2rem  ;
    }