body {
    margin: 0;
    display: flex; /* divide la pantalla en dos columnas */
    height: 100vh;
  }
  
  .mitadizquierda {
    width: 52vw;
    height: 100vh; /* alto correcto */
    position: relative;
  }
  
  .mitadizquierda img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* para que no se deforme */
  }
  
  .mitadderecha {
    width: 48vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor {
    display: flex;   
    height: 100vh;   
  }

  .tectogrande{
    font-size: 128px;
    font-style: in;

  }