*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
}

canvas {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}
.textocuadrado{
    height: auto;
    padding-inline-start: 3vw;
    padding-inline-end: 3vw;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.fotocara{
    max-width: 3.5rem;
    max-height: 3.5rem;
    right: 0.5rem;
    top: 1vh;
    position: absolute;
}
.Menu{
 max-width: 2rem;
max-height: 2rem;
margin-left: 0.5rem;
margin-top: 1vh;
}
.cuadradofplanify{
    align-items: center;
    display: grid;
    justify-items: center;
}
span{
    color: #1BA5B0;
}
.Planify{
    font-size: 3rem;
    padding: 0;
}
.carla{
    margin-top: 0;
}
.datos{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parilla{
    min-width: 20rem;
    max-width: 40rem;
    font-size: large;
}
.date{
    width: 10vw;
    font-size: medium;
}

.botones{
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rastrillo{
    background-color: #1BA5B0;
    font-size: large;
    color: white;
    border: none;
    height:5vh;
    padding: 0 2vw 0;
    border-radius: 8px;
}
.grafico{
    max-width: 100%;
    max-height:100%;
}
.graficos{
 width: 60%;
 height: 90%;
 border-radius: 10px;
 background-color: whitesmoke;
 border: 2px solid#6d6d6d91;
 box-shadow: 5px 5px 10px gray;
}
#miGrafico,
#meGrafico {
  display: none;
}

#miGrafico.mostrar,
#meGrafico.mostrar {
  display: block;
  transform: scale(1);
  opacity: 1;
}
main{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cuadradoescroleable{
    width: auto;
    height: 100%;
    min-width: 15vw;
    overflow-y: auto;
    margin-top: 2rem;
    border-radius: 20px;
    padding-top: 0.7rem;
    scroll-behavior: smooth;
    border: 2px solid #6d6d6d91;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px gray;
}
.resul{
    font-size: medium;
    font-weight: bold;
}
.cuadro-dato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-borrar{
    background-color: #1BA5B0;
    border-radius: 10px;
    border: none;
    padding: .4rem;
    color: white;
}
.resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -32%;
}
.promedio{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.menudesplegable{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
  }

  .barra {
    width: 32px;
    height: 6px;
    background-color: #4A4A4A;
    border-radius: 20px;
  }
  .menulateral {
  height: 100%;
  width: 22%;
  position: absolute;
  background: #11555A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */
  z-index: 2;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}
  


.menulateral.activo{
display: flex;
}




.texto{
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 500;
color: white;
white-space: nowrap;
cursor: pointer;
margin-top: 1px;


}

.titulos{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 1rem;
  margin-top: 4rem;
}



.fotos{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
  margin-right: 1px;
  margin-top: 4.5rem;
  padding-right: 2rem;
  

}

.cerrar{
  display: flex;
  bottom: 1.5rem;
  left: 1rem;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap:6rem;
}

.x{
  color: white;
  font-weight: bold;
  font-size: 32px;
}


.menu-opciones{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.categorias{
  position: absolute;
  top: 0;
  left: 10rem;
  z-index: 1;
} 


    .presentacion{
        display: flex;
        flex-direction: column;
    }