*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
}

canvas {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}
.textocuadrado{
    width: 50vw;
    height: 10vh;
    background-color: peru;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.fotocara{
    max-width: 3.5rem;
    max-height: 3.5rem;
    margin-right: 0.5rem;
    margin-top: 1vh;
}
.Menu{
 max-width: 2rem;
max-height: 2rem;
margin-left: 0.5rem;
margin-top: 1vh;
}
.cuadradofplanify{
    align-items: center;
    display: grid;
    justify-items: center;
}
span{
    color: #1BA5B0;
}
.Planify{
    font-size: 3rem;
    padding: 0;
}
.carla{
    margin-top: 0;
}
.datos{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parilla{
    min-width: 20rem;
    max-width: 40rem;
    font-size: large;
}
.date{
    width: 10vw;
    font-size: medium;
}
.flatpickr-calendar {
  border: 2px solid black;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.flatpickr-day {
  border: 5px solid black; /* separadores entre días */
  margin: 1px;
  border-radius: 4px;
}

.flatpickr-day:hover {
  background: #e0f0ff;
  color: black;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #007bff !important; /* azul seleccionado */
  color: white !important;
  border-color: #0056b3 !important;
}

.flatpickr-day.today {
  border: 2px solid #007bff;
}
.botones{
    width: 60%;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rastrillo{
    background-color: #1BA5B0;
    font-size: large;
    color: white;
    border: none;
    height:5vh;
    padding:  0 0 0;
}