*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: white;
}

canvas {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}
.textocuadrado{
    height: auto;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}
.fotocara{
    max-width: 3.5rem;
    max-height: 3.5rem;
    margin-right: 0.5rem;
    margin-top: 1vh;
}
.Menu{
 max-width: 2rem;
max-height: 2rem;
margin-left: 0.5rem;
margin-top: 1vh;
}
.cuadradofplanify{
    align-items: center;
    display: grid;
    justify-items: center;
}
span{
    color: #1BA5B0;
}
.Planify{
    font-size: 3rem;
    padding: 0;
}
.carla{
    margin-top: 0;
}
.datos{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parilla{
    min-width: 20rem;
    max-width: 40rem;
    font-size: large;
}
.date{
    width: 10vw;
    font-size: medium;
}
/*papa*/

.botones{
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rastrillo{
    background-color: #1BA5B0;
    font-size: large;
    color: white;
    border: none;
    height:5vh;
    padding: 0 2vw 0;
    border-radius: 8px;
}
.grafico{
    max-width: 100%;
    max-height:100%;
}
.graficos{
 width: 50%;
 height: 90%;
 border-radius: 10px;
 background-color: whitesmoke;
 border: 2px solid#6d6d6d91;
 box-shadow: 5px 5px 10px gray;
}
#miGrafico,
#meGrafico {
  display: none;
}

#miGrafico.mostrar,
#meGrafico.mostrar {
  display: block;
  transform: scale(1);
  opacity: 1;
}
main{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cuadradoescroleable{
    width: 25%;
    height: 100%;
    overflow-y: auto;
    margin-top: 2rem;
    border-radius: 20px;
    padding-top: 0.7rem;
    scroll-behavior: smooth;
    border: 2px solid #6d6d6d91;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px gray;
}
.resul{
    font-size: medium;
    font-weight: bold;
}
.cuadro-dato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-borrar{
    background-color: #1BA5B0;
    border-radius: 10px;
    border: none;
    padding: .4rem;
    color: white;
}