

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.logo {
  font-weight: bold;
  font-size: 60px;
  transform: scale(1.1);
  margin: 0;
}
.logo .color {
  color: #1BA5B0;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2rem;
}

.anterior, .proximo {
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  text-align: center;  
}

.fecha {
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
  width: 350px;
  text-align: center;
}

.menudeplegable {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
}

.barra {
  width: 32px;
  height: 6px;
  background-color: #4A4A4A;
  border-radius: 20px;
}

.calendario {
  flex: 1 1 auto; 
  display: flex;
  flex-direction: column;
  height: 100%;
}

.neck {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #008691;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.neck div {
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


  .diasdelaño {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(5, 1fr);    
    width: 100%;
    border: 1px solid black;
  }
.dias {
  display: contents; 
}

.dia {
  border: 0.25px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}




.dia.anterior-mes, .dia.siguiente-mes
 { color: lightgray; }

 .dia.hoy{
color: #008691;
font-weight: bold;
font-size: 40px;
 }


.menulateral {
  height: 100%;
  width: 22%;
  position: absolute;
  background: #11555A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */
  z-index: 2;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  border-radius: 10px;

}
  


.menulateral.activo{
display: flex;
}




.texto{
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 500;
color: white;
white-space: nowrap;
cursor: pointer;


}

.titulos{
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-left: 1rem;
  margin-top: 3rem;
}



.fotos{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
  margin-right: 1px;
  margin-top: 4.5rem;
  padding-right: 2rem;
  

}

.cerrar{
  display: flex;
  bottom: 1.5rem;
  left: 1rem;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap:6rem;
}

.x{
  color: white;
  font-weight: bold;
  font-size: 32px;
}


.menu-opciones{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.categorias{
  position: absolute;
  top: 0;
  left: 10rem;
  z-index: 1;
} 

.contenedorrojo{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6262;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-size: 20px;

}


.categoria{
 font-size: 32px;
 font-weight: bold;
}

.dia.feriado{
  color : #FF6262
}