

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.logo {
  font-weight: bold;
  font-size: 60px;
  transform: scale(1.1);
  margin: 0;
}
.logo .color {
  color: #1BA5B0;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 2rem;
}

.anterior, .proximo {
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  text-align: center;  
}

.fecha {
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
  width: 350px;
  text-align: center;
}

.menudeplegable {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.barra {
  width: 32px;
  height: 6px;
  background-color: #4A4A4A;
  border-radius: 20px;
}

.calendario {
  flex: 1 1 auto; 
  display: flex;
  flex-direction: column;
  height: 100%;
}

.neck {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #008691;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.neck div {
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


  .diasdelaño {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(5, 1fr);    
    width: 100%;
    border: 1px solid black;
  }
.dias {
  display: contents; 
}

.dia {
  border: 0.25px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.dia.sabado, .dia.domingo {
  background-color: #4CC4D3; 
}

.dia.anterior-mes, .dia.siguiente-mes
 { color: transparent; }

 .dia.hoy{
color: #008691;
font-weight: bold;
font-size: 40px;
 }


.menulateral {
  height: 100%;
  width: 19%;
  position: absolute;
  background: #11555A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */


  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.menulateral.activo{
  display: flex
}




.texto{
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 500;
color: white;
white-space: nowrap;
cursor: pointer;


}
.notas-menu{

  height: 90px;
  width: 309px;
  display: flex;
  align-items: center;
  gap: 10.7rem; 
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


.paginaprinci{
  height: 90px;
  width: 309px;
  display: flex;
  align-items: center;
  gap: 4.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 50px

}

.tareas{
  height: 90px;
  width: 309px;
  display: flex;
  align-items: center;
  gap: 3.50rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.gastos{
  height: 90px;
  width: 309px;
  display: flex;
  align-items: center;
  gap: 9.65rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cerrarse{
  margin-bottom: 0, auto;
  margin-left: 0.5rem;  
  
  }
.menu-opciones{
  display: flex;
  flex-direction: column;
  gap: 10px
}