* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
  .body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }


  .menudesplegable{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
  }

  .barra {
    width: 32px;
    height: 6px;
    background-color: #4A4A4A;
    border-radius: 20px;
  }
  .menulateral {
    height: 100vh;
    width: 19%;
    position: absolute;
    background: #11555A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */

    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    margin-left: 0;
  }

  .menulateral.activo{
    display: flex;

  }




  .texto{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  cursor: pointer;


  }
  .notas-menu{

    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 10.7rem; 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .paginaprinci{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 4.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 50px

  }

  .tareas{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 3.50rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .gastos{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 9.65rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .cerrarse{
    margin-bottom: 7px ;
    margin-left: 0.5rem;  
    
    }
  .menu-opciones{
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .logo {
    font-weight: bold;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    margin: 0;
  }
  .color {
    color: #1BA5B0;
  }

  .presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header{
    width: 100%;
    height: 100px;
  }

  .subtitulo{
      font-family: "Inter", sans-serif;
    font-weight: bold;
      font-size: 30px;
      margin-top: 1px;
  }

  .textarea{
    width: 800px;
    height: 350px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 10px auto;
    box-shadow: 5px 5px 10px lightgray;
    background-color: #F3F3F3;
    outline: none ;
  }



  .notas{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10PX;
  }

  .botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    
  }

  .boton:hover{
    transform: scale(1.3);
  }

  .boton2:hover{
    transform: scale(1.3);
  }


  .boton2{
  background-color: #1BA5B0;
  height: 45px;
  width: 127px;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: solid 1px #1BA5B0;
  font-size: 16px ;
  transition: tranform 0,5 ease;
  }

  .boton{
    background-color: #1BA5B0;
  height: 60px;
  width: 127px;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  border: solid 1px #1BA5B0;
  font-size: 16px;
  transition: tranform 0,5 ease;

  }