body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  }


  .header{
  width: 100%;
  height: 100px;

  }

  .subtitulo{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  }

  .logo {
  font-weight: bold;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  margin: 0;
  }
  .logo .color {
  color: #1BA5B0;
  }

  .presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .menudesplegable{
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  }

  .barra {
  width: 32px;
  height: 6px;
  background-color: #4A4A4A;
  border-radius: 20px;
  }
  .menulateral {
  height: 100vh;
  width: 19%;
  position: absolute;
  background: #11555A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */

  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-left: 0;
  }

  .menulateral.activo{
  display: flex;

  }

  .opciones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 5px;
  }

  .preguntas{
  display: flex;
  height: 21px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 1px black;
  border-radius: 5px;
  }

  .paula{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 22px;

  }

  .importancia{
  height: 21px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 1px black;
  border-radius: 5px;
  }

  .nombre{
  height: 18px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .evento{
  height: 22px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 1px black;
  border-radius: 5px;
  }

  .todoresto{
  display: flex;


  width: 60%;
  align-items: center;
  flex-direction: column;
  }

  .botones{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 1rem;
  }

  .boton{
  background-color: #1BA5B0;
  color: white;
  width: 137px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: solid 2px #1BA5B0;
  }

  .texto2{
  margin-top: 1rem;
  width: 596px;
  height: 325px;
  box-shadow: 5px 5px 10px lightgray;
  border: solid 1px #1BA5B0;
  outline: none ;
  background-color: #f4fafb;
  color: #717171 ;
  border-radius: 15px;

  }

  .texto{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  cursor: pointer;


  }

  .texto{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  cursor: pointer;


  }
  .notas-menu{

    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 10.7rem; 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }


  .paginaprinci{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 4.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 50px

  }

  .tareas{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 3.50rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .gastos{
    height: 90px;
    width: 309px;
    display: flex;
    align-items: center;
    gap: 9.65rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .cerrarse{
    margin-bottom: 7px ;
    margin-left: 0.5rem;  
    
    }


  .mitadderecha{
  height: calc(100% - 140px);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .listaEventos{
    height:425px;
    width: 403px;
    box-shadow: 5px 5px 10px lightgray;
    border: solid 1px #1BA5B0;
    outline: none ;
    background-color: #f4fafb;
    
    color: #000000 ;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .contenedorprincipal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    gap: 3rem;               
    margin-top: 2rem;
    width: 100%;
  }

  .contenedoreventos{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }