  .body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  }

  .header{
  width: 100%;
  height: 100px;

  }

  .subtitulo{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1px;
  }

  .logo {
  font-weight: bold;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  margin: 0;
  }
  .logo .color {
  color: #1BA5B0;
  }

  .presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .menudesplegable{
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;
  }

  .barra {
  width: 32px;
  height: 6px;
  background-color: #4A4A4A;
  border-radius: 20px;
  }
  .menulateral {
  height: 100vh;
  width: 19%;
  position: absolute;
  background: #11555A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #30AEB8, #11555A); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #30AEB8, #11555A); /* Modern browsers */

  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-left: 0;
  }

  .menulateral.activo{
  display: flex;

  }

  .opciones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 5px;
  }

  .preguntas{
  display: flex;
  }

  .paula{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 22px;

  }

  .importancia{
  height: 21px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 2px black;
  border-radius: 5px;
  }

  .nombre{
  height: 18px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 2px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .evento{
  height: 22px;
  width: auto;
  color: #717171;
  background-color: #F3F3F3;
  border: solid 2px black;
  border-radius: 5px;
  }