* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}
.todo{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
#papa{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.cuadradoparavideo{
background-color: white;
}
.cuadadofoto{
  width: 46vw;
  height: 96vh; 
  position: relative;
padding-top:4vh;
}

.cuadrodetexto{
  width: 48vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.Fernanda{
font-size: 3rem;
 margin-top: 10%;
 font-family: "Inter", sans-serif;
 font-weight: bold; 
}

#color{
  color: #1BA5B0;
}
.carla {
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.error{
  color: #FF0000;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:75%;
  height: 45%;
  font-family: Arial, Helvetica, sans-serif;
  gap:5%;
}
.text{
width: 80%;
height: 13%;
background-color: whitesmoke;
font-size: normal;
}
.button{
  width: 12vw;
  height: 7vh;
  background-color: #15cbd8;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border: none;
 border-radius: 0.5rem;
 cursor: pointer;
justify-content: center;

}
.button:hover{
  background-color: #1BA5B0;
}
p{
  font-weight: bold;
  margin-right: 0;
  padding: 0;
  margin: 0;
}
.cuadrado-para-texto{
  width:29vw;
}
h3{
  font-weight: 400;
  font-size: 20px;
}

.crearcuenta{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}
.message{
  padding: 0;
}