

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 60%;
    display: flex;
    max-height: 70%;
    gap: 10%;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 93%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 1em;
    margin-top: 5px;
    text-align: center;
    margin-top: 15px;
  }
  
  .success {
    color: green;
    font-size: 1em;
    text-align: center;
    margin-top: 15px;
  }
  #papa{
    width: 80%;      
    max-width: 400px; 
    height: auto;     
  }
  .textoplanify{
    
      position: absolute;
      bottom: 10px;      /* distancia desde abajo */
      left: 50%;
      transform: translateX(-50%); /* centra horizontalmente */
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      text-shadow: 2px 2px 5px black; /* mejora visibilidad sobre la imagen */
  }
.cuadrodetexto{
display: grid;
place-items: center;
width: 50%;
height: 100%;
align-items: center;
}