

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: white;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 60rem;
    display: flex;
    max-height: 70%;
    gap: 10%;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 93%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 1em;
    margin-top: 5px;
    text-align: center;
    margin-top: 15px;
  }
  
  .success {
    color: green;
    font-size: 1em;
    text-align: center;
    margin-top: 15px;
  }
  #papa{
    width: 80%;      
    max-width: 400px; 
    height: auto;     
  }

  #papa {
    width: 100%;
    height: auto;
    display: block;
  }

.extoplanify{
  position: absolute;
  top: 50%;        /* centro vertical */
  left: 50%;       /* centro horizontal */
  transform: translate(-50%, -50%); /* centra perfectamente */
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.cuadro-foto {
  position: relative;
  width: 50%;
  overflow: hidden;
}
.texto-planify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 90%;
}
.texto-planify h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.texto-planify h3 {
  font-size: 1.2rem;
  line-height: 1.4;
}
